body {
    background-color: rgba(240, 174, 245, 0.786);
}

#score {
    font-size: 25px;
    font-family: fantasy;
    float: left;
    margin-left: 20px;
}

#timer {
    font-size: 25px;
    font-family:fantasy;
    float:right;
    margin-right: 50px;
}

#drawSketch {
    font-size: 30px;
    font-family: fantasy;
    color:blue;
}

#sketch {
    font-size: 25px;
    font-family: fantasy;
}

#confidence {
    font-size: 25px;
    font-family: fantasy;
}

h1 {
    font-family: fantasy;
    font-size: 45px;
}